@import '../core/Variables.scss';

.Main {
  margin-left: auto;
  margin-right: auto;
  height: 80%;
  width: 80%;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 1px solid $isabelle;
 
  
}
