//Callsign colour palette
$callSignColor: #008F4C;
$mottle: #33A570;
$dragon: #6FC09A;
$meadow: #37D189;
$aquaMarine: #72DFAC;
$mint: #AFECCE;
$engine: #D1292A;
$yorange: #FFAB40;
$electric: #1D83D5; 
$night: #323232;
$space: #5B5B5B;
$body: #8C8C8C;
$alumn: #BDBDBD;
$pastel:#CDCDCD;
$gainsboro: #DEDEDE;
$isabelle: #EEEEEE;
$whiteSmoke: #F6F6F6;
$slate: #1E4558;
$graphite: #4B6A79;
$steel: #8197A1;
$slush: #B7C3C9;
$rain: #C9D3D7;
$cloud: #DBE1E4;
$powder: #EDF1F2;
$snow: #F6F8F9;


//Callsign font 
$mainFont:'Roboto', sans-serif;







  